body {
    background-color: #023047;
    font-family: 'Open Sans', sans-serif;
    color: rgb(224, 222, 220);
    
}

img {
    margin-left: 20px;
    margin-top: 10px;
}

.container {
    display: flex;
}

.container img {
    margin-right: 30px; /* Etwas Abstand zwischen dem Bild und dem Text */
}

.text-container {
    display: flex;
    flex-direction: column; /* Setzt die Ausrichtung auf vertikal */
    margin-top: 130px;
    padding-top: 85px;
}

.frame1{
    border-style: solid;
   margin: 10px 15px 10px 15px;
    border-color: #fb8500;
    background-color: #14213d;
    padding: 10px;
  }

  .frame2{
    border-style: solid;
   margin: 10px 15px 10px 15px;
    border-color: #fb8500;
    background-color: #63183a;
    padding: 10px;
  }

h1 {
    color: #fb8500;
    font-family:'Montserrat', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


h2, h3 {
    font-size: 20px;
    color:#ffb703;
    
}

h3 {
    margin-left: 20px;
}


p {
    font-size: 16px;
    margin-top: 1px;
}
h4 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 1px;
    margin-left: 20px;
}